
body { 
  padding-top: 60px; 
  background-color: #4F5D75;
  font-size: 20px;
}

a{
  color: #EF8354;
}

.navbar.speshul {
  background-color: #2D3142;  /*dark blue */
}

.navbar-toggle {
  margin-top: 13px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav li a {
  display: inline;
  color: #EF8354!important; /* orange */
}

.navbar.speshul a:hover {
  text-decoration: none;
  color: #EF8354;
}

.overlay a:hover, .contact a:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s; 
}

.btn {
  letter-spacing: 1px;
}

.btn.speshul {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #2D3142;
    border-radius: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #EF8354;
}

.btn.speshul:hover, .btn.speshul:active, .btn.speshul:focus, .btn.speshul:active:focus {
  background-color: #BFC0C0;
}

.section.project {
  background-color: #BFC0C0;
  padding: 20px 0;
}

.section.about {
  background-color: #4F5D75;
  padding: 30px 0;
}


.anchor-pad {
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

h3 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #EF8354;
}

p {
  color: #FFFFFF;
}


.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 250px;
  margin: 0 7px 0 0;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}

.touch-info {
  position: absolute;
  left: 2%;
  bottom: 0;
  z-index: 10;
  color: orange;
  visibility: hidden;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #4F5D75;
  color: white;
}

.caption-style figure:hover {
  cursor: pointer;
}

.caption-style figure img{
  z-index: 10;
}

.caption-style figure:hover img {
  opacity: .1;
}

.caption-style figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  backface-visibility: hidden;
}

.caption-style figure:hover figcaption {
  opacity: 1;
}

.caption-style figure span {
  position: absolute;
  bottom: 20px;
  left: 0px;
  padding-left: 20px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(191,192,192); 
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; 
  text-align:center;
}

/* Position the content inside the overlay */
.overlay-content {
  color: #2D3142;
  position: relative;
  top: 10%; 
  width: 70%; 
  text-align: center; 
  margin-top: 30px; 
  padding-bottom: 15px;
  left: 15%;
  border-top: 1px solid #EF8354;
  border-bottom: 1px solid #EF8354;
}

.overlay-hidden {
  width: 0%;
}

.overlay-visible {
  width: 100%;
}

.overlay a {
  font-size: 20px;
  color: #2D3142;
}

.project-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.project-flex-right {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  align-items: center;
}

.project-text {
  padding-left: 20px;
  max-height: 250px;
  max-width: 60%;
  font-size: 18px;
}

.text-right {
  text-align: right;
  padding-right: 20px;
}

.project-text.style-desktop {
  max-width: 50%;
}

.overlay a.close-link{
  color: #EF8354;
  font-size: 14px;
}

.overlay a.close-link:hover {
  color: black;
  transition: 0.5s; 
  text-decoration: none;
}

.overlay a.top-close-link {
  color: #EF8354;
  font-size: 48px;
  left: 95%;
  position: absolute;
}

.overlay a.top-close-link:hover {
  color: black;
  transition: 0.5s; 
  text-decoration: none;
}

.section.contact {
  background: #4F5D75;
  padding: 20px 0;
}

.display-table{
  display: table;
  table-layout: fixed;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
  text-align: right;
}

.spacer {
  margin-right: 2px;
}

@media all and (max-width: 800px) {
  .overlay-content {
    width: 90%;
    left: 5%;
  }
  .project-text {
    font-size: 16px;
  }
}

@media all and (max-width: 500px) {
  .overlay a {font-size: 16px}
  .overlay a.top-close-link {
    font-size: 38px;
    left:92%;
  }

  .project-flex {
    flex-direction: column;
  }
  .project-flex-right{ 
    flex-direction: column;
  }
  .overlay-content {
    width: 100%;
    left: 0%;
    padding-bottom: 20px;
  }
  .project-text {
    padding: 0;
    max-width: 250px;
    text-align: center;
    font-size: 14px;
  } 
  .project-text.style-desktop {
    max-width: 95%;
    padding: 0;
  }
  .text-right{
    padding: 0;
    text-align: center;
  }
}